<!-- isso é uma tag <html> -->
<!-- Na tag <head> irá configurações do meu documento. -->
<!-- Na tag body: Todo conteúdo visível na página -->
<!--
    HTML

    HyperText
        Hipertexto
        <a>

    Markup
        Marcação

    Language
        Linguagem
-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body >
    <div id="page-success-insert">
        <div id="checked">
            <div class="icon-check position">
                <img src="/images/icons/success-check-icon.svg" alt="">
            </div>

            <div class="message-check position">
                <h2>Cadastro salvo!</h2>
                <p>
                    Tudo certo, seu cadastro está na nossa lista de professores.<br/>
                    Agora é só ficar de olho no seu WhatsApp.
                </p>
            </div>

            <div class="buttons-container position">
                <a class="study" href="/study?subject={{filters.subject}}&weekday={{filters.weekday}}&time={{filters.time}}"><img src="/images/icons/study.svg"   alt="Estudar">Acessar a lista</a>
            </div>
        </div>
    </div>
    <script src="/public/scripts/redirectToStudy.js"></script>
</body>
</html>